options:
  size: "4x"
  runtime:
    cloud:
      atlassian-ip-ranges: true

definitions:
  push-docker-image: &push-docker-image
    name: Push Image
    services:
      - docker
    image: atlassian/default-image:4
    script:
      - echo ${HARBOR_PASSWORD} | docker login ${HARBOR_URL} -u ${HARBOR_USERNAME} --password-stdin
      - docker build -t ${HARBOR_URL}/medsum/transcript-analysis-api:${BITBUCKET_BUILD_NUMBER} .
      - docker push ${HARBOR_URL}/medsum/transcript-analysis-api:${BITBUCKET_BUILD_NUMBER}
  deploy-helm-chart: &deploy-helm-chart
    name: Deploy
    image:
      name: harbor.dev.carasent-ck8s.com/internal-tools/generic-kubernetes-build-image:latest
      username: $HARBOR_DEV_BUILD_USERNAME
      password: $HARBOR_DEV_BUILD_PASSWORD
    script:
      - echo ${KUBE_CONFIG} | base64 -d > .kubeconfig
      - helm upgrade --install --kubeconfig .kubeconfig --wait -f helm/values.yaml medsum-analytics --set "image.repository=${HARBOR_URL}/medsum/transcript-analysis-api" --set "image.tag=${BITBUCKET_BUILD_NUMBER}" -n medsum-analytics helm/

pipelines:
  branches:
    dev:
      - stage:
          name: Deployment Development
          deployment: Development
          steps:
            - step: *push-docker-image
            - step: *deploy-helm-chart
    main:
      - stage:
          name: Deployment Production
          deployment: Production
          steps:
            - step: *push-docker-image
            - step: *deploy-helm-chart
