---
import '../styles/global.css';
import { listClients, type Client } from "@/server/clients";
import { toast } from 'sonner';
import ClientsList from '@/components/api-keys/ClientsList';

const {user} = Astro.locals as any
if (!user) return Astro.redirect("/login")

let clients: Client[] = []

try {
  clients = await listClients()
} catch (e: any) {
  toast.error(e?.message ?? "Couldn't fetch clients")
}

import MainLayout from "@/layouts/main.astro"
---

<MainLayout content={{title: "Medsum - API Keys"}} user={user} active="keys">
  <div class="mx-auto max-w-5xl">
    <ClientsList initial={clients} client:load />
  </div>
</MainLayout>
