# app.py
# flask
# flask-cors
# werkzeug
# torch
# nemo_toolkit[asr]
# omegaconf
# librosa
# soundfile
# numpy

# benchmark_asr.py
# torch
# nemo_toolkit[asr]
# omegaconf
# librosa
# soundfile
# numpy

# audio_cutter.py
librosa
soundfile
numpy
