options:
  size: 4x
  runtime:
    cloud:
      arch: x86
      atlassian-ip-ranges: true

definitions:
  push-docker-image: &push-docker-image
    name: Push Image
    image: atlassian/default-image:4
    services:
      - docker
    script:
      - echo ${HARBOR_PASSWORD} | docker login ${HARBOR_URL} -u ${HARBOR_USERNAME} --password-stdin
      - docker build -t ${HARBOR_URL}/medsum/medsum-admin:${BITBUCKET_BUILD_NUMBER} .
      - docker push ${HARBOR_URL}/medsum/medsum-admin:${BITBUCKET_BUILD_NUMBER}
  deploy-helm-chart: &deploy-helm-chart
    name: Deploy
    image:
      name: harbor.dev.carasent-ck8s.com/internal-tools/generic-kubernetes-build-image:latest
      username: $HARBOR_DEV_BUILD_USERNAME
      password: $HARBOR_DEV_BUILD_PASSWORD
    script:
      - echo ${KUBE_CONFIG} | base64 -d > .kubeconfig
      - helm upgrade --install --kubeconfig .kubeconfig --wait -f helm/values.yaml -f "helm/${VALUES}" medsum-admin --set "image.tag=${BITBUCKET_BUILD_NUMBER}" -n medsum-admin helm/
pipelines:
  branches:
    dev:
      - stage:
          name: Deploy Test
          deployment: Test
          steps:
            - step: *push-docker-image
            - step: *deploy-helm-chart
    main:
      - stage:
          name: Deploy Production
          deployment: Production
          steps:
            - step: *push-docker-image
            - step: *deploy-helm-chart
