replicaCount: 1

image:
  repository: harbor.dev.carasent-ck8s.com/medsum/transcript-analysis-api
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: [name: harbor-read]
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels:
  elastisys.io/valkey-valkey-cluster-access: allow

podSecurityContext:
  runAsNonRoot: true
  fsGroup: 101

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 100

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

livenessProbe:
  httpGet:
    path: /healthcheck
    port: http
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /healthcheck
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}

env:
  - name: APP_PORT
    value: "8080"
  - name: VALKEY_HOST
    valueFrom:
      secretKeyRef:
        name: valkey-secret
        key: host
  - name: VALKEY_PORT
    valueFrom:
      secretKeyRef:
        name: valkey-secret
        key: port
  - name: VALKEY_USE_SENTINEL
    valueFrom:
      secretKeyRef:
        name: valkey-secret
        key: use_sentinel
  - name: VALKEY_SENTINEL_ADDRESS
    valueFrom:
      secretKeyRef:
        name: valkey-secret
        key: sentinel_address
  - name: VALKEY_MASTER_NAME
    value: "mymaster"
  - name: S3_ACCESS_KEY_ID
    valueFrom:
      secretKeyRef:
        name: s3-secret
        key: accessKeyId
  - name: S3_SECRET_ACCESS_KEY
    valueFrom:
      secretKeyRef:
        name: s3-secret
        key: secretAccessKey
  - name: S3_REGION
    valueFrom:
      secretKeyRef:
        name: s3-secret
        key: region
  - name: S3_ENDPOINT_URL
    valueFrom:
      secretKeyRef:
        name: s3-secret
        key: endpoint
        optional: true
  - name: POSTGRES_HOST
    valueFrom:
      secretKeyRef:
        name: postgres-secret
        key: host
  - name: POSTGRES_PORT
    valueFrom:
      secretKeyRef:
        name: postgres-secret
        key: port
  - name: POSTGRES_USER
    valueFrom:
      secretKeyRef:
        name: postgres-secret
        key: user
  - name: POSTGRES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: postgres-secret
        key: password
  - name: POSTGRES_DB
    valueFrom:
      secretKeyRef:
        name: postgres-secret
        key: database
  - name: POSTGRES_SSLMODE
    value: "require"
  - name: S3_RETRY_MAX_ATTEMPTS
    value: "3"
  - name: S3_RETRY_DELAY_SECONDS
    value: "20"
